<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="mariadb_admin"
		 connectionString="Server=localhost;Uid=root;Pwd=pa$$w0rd;Database=information_schema;Port=3306"
		 providerName="MySqlConnector" />
		<add name="mariadb"
		 connectionString="Server=localhost;Uid=root;Pwd=pa$$w0rd;Database=contacts;Port=3306"
		 providerName="MySqlConnector" />
	</connectionStrings>
</configuration>